.container {
    display: flex;
    align-items: center;
    gap: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.imgContainer {
    flex: 1;

    height: 500px;
    width: auto;
    position: relative;
}

.img {
    object-fit: contain;
}

.textContainer {
    display: flex;
    flex: 1;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.subtitle {
    margin-bottom: 10px;

}

.desc {
    font-size: 20px;
}

.boxes {
    padding-top: 20px;
    gap: 10px;
    display: flex;
    justify-content: space-around;


}

.box {
    text-align: center;
}

.box>h1 {
    font-size: 20px;

}

.box>p {
    font-size: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .boxes {
        flex-direction: column;
        gap: 50px;
    }
}



@media (max-width: 1536px) {
    .container {
        width: 1366px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1366px) {
    .container {
        width: 1280px;

    }
}

@media (max-width: 1280px) {
    .container {
        width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }


}

@media (max-width: 1024px) {

    .container {
        width: 768px;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        text-align: center;
    }

}


@media (max-width: 768px) {
    .container {
        width: 640px;
    }
}


@media (max-width: 640px) {
    .container {
        width: 475px;
    }
}

@media (max-width: 475px) {
    .container {
        width: 380px;
    }
}