/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/postCard/postCard.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.postCard_container__yIWzy {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.postCard_top__jr3dE {
    display: flex;
}

.postCard_imgContainer__KGEEZ {
    width: 90%;

    height: 400px;
    position: relative;
}

.postCard_img__TTypP {
    object-fit: cover;
}

.postCard_date__pzBxf {
    font-size: 12px;
    transform: rotate(270deg);
    margin: auto;
}

.postCard_title__95FgI {
    width: 90%;
    font-size: 24px;
    margin-bottom: 20px;
}

.postCard_desc__jqCqC {
    width: 90%;
    margin-bottom: 20px;
    font-weight: 300;
    color: gray;
}

.postCard_link__xorsS {
    text-decoration: underline;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/passeios/passeios.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.passeios_container__gkfQM {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 20px;

}

.passeios_post__EFsDs {
    width: 30%;
}

@media screen and (max-width: 1280px) {
    .passeios_post__EFsDs {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .passeios_post__EFsDs {
        width: 100%;
    }
}


@media (max-width: 1536px) {
    .passeios_container__gkfQM {
        width: 1366px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1366px) {
    .passeios_container__gkfQM {
        width: 1280px;

    }
}

@media (max-width: 1280px) {
    .passeios_container__gkfQM {
        width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }


}

@media (max-width: 1024px) {

    .passeios_container__gkfQM {
        width: 768px;
        flex-direction: column;
        text-align: center;
    }

}





@media (max-width: 768px) {
    .passeios_container__gkfQM {
        width: 640px;
    }
}


@media (max-width: 640px) {
    .passeios_container__gkfQM {
        width: 475px;
    }
}

@media (max-width: 475px) {
    .passeios_container__gkfQM {
        width: 380px;
    }
}
