/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/home.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.home_container__2nSFh {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    align-self: center;
}

.home_textContainer__1ljkg {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home_title__jKRy7 {
    font-size: 70px;
}

.home_desc__ZPff_ {
    font-size: 30px;
}


.home_imageContainer__x_YqY {
    flex: 1 1;
    position: relative;
    display: flex;
    gap: 10px;
}



@media (max-width: 1536px) {
    .home_container__2nSFh {
        width: 1366px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1366px) {
    .home_container__2nSFh {
        width: 1280px;

    }
}

@media (max-width: 1280px) {
    .home_container__2nSFh {
        width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }


}

@media (max-width: 1024px) {

    .home_container__2nSFh {
        width: 768px;
        flex-direction: column;
        text-align: center;
    }

}





@media (max-width: 768px) {
    .home_container__2nSFh {
        width: 640px;
    }
}


@media (max-width: 640px) {
    .home_container__2nSFh {
        width: 475px;
    }
}

@media (max-width: 475px) {
    .home_container__2nSFh {
        width: 380px;
    }
}
